/******** font family input  ********/
body{
    font-family: 'Poppins', sans-serif;
}
.container{
    background-color:#040a78ed;
}
nav a{
    text-decoration: none;
    color: white;
    padding-right: 20px;
    
}
nav{
display: flex;
justify-content: space-between;

}
h1{
    color: #FFFFFF;
}
span{
    padding-left: 50px;
}
.first-division{
    display: flex;
    margin: 50px;
    justify-content: space-between;
}
.first-division img{
    
    width: 556.01px;
    height: 438px;

}
.first-division a{
    
    color: white;
    width: 270px;
    height: 100px;
    background-color:#E02C6D ;
    text-decoration: none;  
}
.link-button{
    
    color: white;
    background-color:#E02C6D ;
    text-decoration: none;  
}
p{
    color: #6C6C6C;
}
.next-level{
    

    width: 300px;
    height: 474px;
    background-color: #FFFFFF;
    /* padding-left: 15px;
    padding-top: 15px; */
    justify-content: center;
}
.next-level img{
    height: 256px;
    width: 300px;
    padding-left: 15px;
    padding-top: 15px; 
}
.next-level, h2, p{
    margin-left: 15px;

    
}
.grid-use{
    display: grid;
    /* background-color: rgba(0, 0, 0, 0.15); */
    grid-gap: 0.1em;
    grid-template-columns: repeat(3, 1fr);
    /* align-items: center;     */
    /* justify-content: center; */
    margin: 5px;
    border-radius: 5px;
    /* padding-left: 10px;
    padding-top: 10px; */
}

